{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home' %}"><button type="button" class="btn btn-dark btn-md">Back</button></a>
<br>
<br>
<p class="h2">The Feature Importance is given below :</p>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Features</th>
      <th scope="col">Importance</th>
    </tr>
  </thead>
  <tbody>
  {% for feature_name,feature_importance in output %}
    <tr>
      <td>{{ feature_name }}</td>
      <td>{{ feature_importance }} %</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<br>
{% endblock content %}