{% extends 'base.html' %}

{% block title %}Records{% endblock title %}

{% block scripts %}
  <script>
  $( function() {
    $( "#sortable" ).sortable();
  } );
  </script>
  <script>
  $(document).ready(function () {
    $('ul').sortable({
        axis: 'y',
        stop: function (event, ui) {
	        var data = $(this).sortable('serialize');
            $('p').text(data);
	}
    });
});
  </script>

{% endblock scripts %}

{% block content %}
Query string: <p></p>
<ul id="sortable">
    {% for record in record_list %}
    <li id="item-{{record.id}}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s">

                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ record.title }}</span> &middot;
                        <span class="text-muted">||  AE: {{ record.feature_a }}  |  PAT: {{ record.feature_b }}  |  DRUG: {{ record.feature_c}}  |  PRECOND: {{ record.feature_d }}  |  MAH: {{ record.feature_e }}  ||</span>
                    </div>
                    <div class="body">
                        {{ record.abstract }}
                    </div>
                </div>

    <br/>
    </span></li>
    {% endfor %}

    </ul>

{% endblock content %}
