{% extends 'base.html' %}

{% block title %}Records{% endblock title %}

{% block scripts %}
<!--  <script>-->
<!--  $( function() {-->
<!--    $( "#sortable" ).sortable();-->
<!--    $( "#sortable" ).disableSelection();-->
<!--  } );-->
<!--  </script>-->

<script>
    $(document).ready(function () {
    $('ul').sortable({
        axis: 'y',
        update: function (event, ui) {
	        var serial_data = $(this).sortable('serialize');
            // $('p').text(serial_data);
            $.ajax({
                    data: serial_data,
                type: 'POST',
                url: '/ajax/save/'
            });
	}
    }).disableSelection();
});
</script>
{% endblock scripts %}

{% block content %}
<a href="{% url 'home'%}"><button type="button" class="btn btn-dark btn-md">Reset</button></a>

<a href="{% url 'sorting_func'%}"><button type="button" class="btn btn-success btn-md">Save</button></a>

<a href="{% url 'analyze'%}"><button type="button" class="btn btn-warning btn-md">Analyse</button></a>
<br>
<br>
<!--Query <p></p>-->
<ul id="sortable">
    {% for record in record_list %}
    <li id="record-{{ record.id }}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s">
                <div class="card">
                    <div class="card-header">
                        <span class="text-muted">&middot;Rank : {{record.order}}&middot;</span>
                        <span class="font-weight-bold">{{ record.title }}</span> &raquo;
                        <span class="text-muted">||  AE: {{ record.adverse_effect }}  &bull;  PAT: {{ record.identifiable_patient }}  &bull;  DRUG: {{ record.identifiable_drug}}  &bull;  PRECOND: {{ record.precondition }}  &bull;  MAH: {{ record.mah }}  ||</span>
                    </div>
                    <div class="body">
                        {{ record.abstract }}
                    </div>
                  <div class="card-footer text-right text-muted">
                    <a href="{% url 'edit_record' record.pk %}">Edit</a>
                  </div>
                </div>

    <br/>
    </span></li>
    {% endfor %}
    </ul>
{% endblock content %}