{% extends 'base.html' %}

{% block title %}Records{% endblock title %}

{% block scripts %}
<!--  <script>-->
<!--  $( function() {-->
<!--    $( "#sortable" ).sortable();-->
<!--    $( "#sortable" ).disableSelection();-->
<!--  } );-->
<!--  </script>-->

<script>
    $(document).ready(function () {
    $('ul').sortable({
        axis: 'y',
        update: function (event, ui) {
	        var serial_data = $(this).sortable('serialize');
            // $('p').text(serial_data);
            $.ajax({
                    data: serial_data,
                type: 'POST',
                url: '/ajax/save/'
            });
	}
    }).disableSelection();
});
</script>
{% endblock scripts %}

{% block content %}
<a href="{% url 'home'%}"><button type="button" class="btn btn-secondary">Reset</button></a><a href="{% url 'sorting_func'%}"><button type="button" class="btn btn-primary">Save</button></a><a href="{% url 'analyze'%}"><button type="button" class="btn btn-dark">Analyse</button></a>

<!--Query <p></p>-->
<ul id="sortable">
    {% for record in record_list %}
    <li id="record-{{ record.id }}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s">

                <div class="card">
                    <div class="card-header">
                        <span class="text-muted">&middot;Rank : {{record.order}}&middot;</span>
                        <span class="font-weight-bold">{{ record.title }}</span> &raquo;
                        <span class="text-muted">||  AE: {{ record.feature_a }}  |  PAT: {{ record.feature_b }}  |  DRUG: {{ record.feature_c}}  |  PRECOND: {{ record.feature_d }}  |  MAH: {{ record.feature_e }}  ||</span>
                    </div>
                    <div class="body">
                        {{ record.abstract }}
                    </div>
                </div>

    <br/>
    </span></li>
    {% endfor %}
    </ul>
{% endblock content %}